html, body{
        height: 100%;
        overflow-x: hidden;
        
    }

    body{
        
        background-color:#e6ffe6 !important;
        background-attachment: fixed;
        font-family: Helvetica, Arial, sans-serif;
        
    }


    /* Barra de Navegação*/

    .styleNavBar{
        background-color: #cccccc !important;
    }

    .btnNavBar{
        border-color: #28a745;
        color: #28a745;
        font-weight: bold;
    }

    /* Form Cadastro */

    .styleFormCadastro{
        background-color: white;
        width: 400px; 
        height: 400px; 
        left: 50%; 
        margin: -130px 0 0 -210px; 
        padding:10px;
        position: absolute; 
        top: 33%;
        border-color: #504b4b;
        border-radius: 7px 7px 7px 7px;   
    }

    .styleTitleCadatro{
        text-align: center;
        color: #28a745;
    }

    .spaceBtnCadastro{
        background-color: #28a745;
        color: white;
        border-color: #28a745;
    }

    .spaceBtnCadastro:hover{
        background-color: #17722c;
        color: white;
        border-color: #17722c;
    }

    /* Form Login */

    .styleTitleLogin{
        text-align: center;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        color: #28a745;
    }

    .spaceBtnLogin{
        margin-bottom: 2.5em;
    }

    .styleFormLogin{
        background-color: white;
        width: 400px; 
        height: 400px; 
        left: 50%; 
        margin: -130px 0 0 -210px; 
        padding:10px;
        position: absolute; 
        top: 33%;
        border-color: #504b4b;
        border-radius: 7px 7px 7px 7px;   
    }

    /* Form Cadastro Animais*/

    .styleFormCadastroAnimais{
        background-color: white;
        width: 400px; 
        height: 850px; 
        left: 50%; 
        margin: -130px 0 0 -210px; 
        padding:10px;
        position: absolute; 
        top: 35%;
        border-color: #504b4b;
        border-radius: 7px 7px 7px 7px;
    }

    /* Tela principal */

    .spaceImgAnimais{
        max-width: 365px;
        min-width: 350px;
        max-height: 350px;
    }

    .spaceUltimosAnimais{
        margin-bottom: 2em;
    }

    .styleTitleAnimais{
        text-align: center;
        padding-top: 1em;
        padding-bottom: 0.5em;
        font-weight: bold;
    }

    .styleParagAnimais{
        padding-top: 1em;
        text-align: justify;
    }

    .styleContainerAnimais{
        margin-top: 1em;
        border-width: 2px;
        border-style: solid;
        border-color: #504b4b;
        border-radius: 5px 5px 5px 5px;
        min-height: 480px;
        padding: 7px 7px 7px 7px;
    }

    /* Rodapé */

    .styleFooter{
        background-color: #cccccc !important;
        position: fixed;
        bottom: 0;
        left: 0;
        width: -webkit-fill-available;
        text-align: center;
    }

    .styleFooterTelaPrincipal{
        background-color: #cccccc !important;
        bottom: 0;
        left: 0;
        width: -webkit-fill-available;
        text-align: center;
    }

    .spaceRedesSociais{
        padding-right: 1.5em;
        margin-bottom: 0.5em;
    }

    .spaceDevelopment{
        padding-top: 0.5em;
    }

    .spaceItensFooter{
        padding-left: 2em;
        padding-bottom: 1em;
    }


    /* Media Queries */

    /* xs */

    @media screen and (max-width: 767px){
        .spaceDevelopment{
            display: none;
        }

        .spaceItensFooter{
            display: inline-block;
            padding-bottom: 0;
        }

        .styleFooter{
            height: 4em;
            padding-top: 0.3em;
        }

        .styleFormCadastro{
            background-color: white;
            width: 300px; 
            height: 500px; 
            left: 65%; 
            margin: -130px 0 0 -210px; 
            padding: 10px;
            position: absolute; 
            top: 35%;
            border-radius: 7px 7px 7px 7px;
        }

        .styleFormCadastroAnimais{
            background-color: white;
            width: 300px; 
            height: 800px; 
            left: 65%; 
            margin: -130px 0 0 -210px; 
            padding: 10px;
            position: absolute; 
            top: 30%;
            border-radius: 7px 7px 7px 7px;
            margin-bottom: 3em;
        }

        .spaceImgAnimais{
            max-width: 310px;
            min-width: 310px;
            max-height: 300px;
        }

        .styleFormLogin{
            background-color: white;
            width: 300px; 
            height: 400px; 
            left: 65%; 
            margin: -130px 0 0 -210px; 
            padding: 10px;
            position: absolute; 
            top: 35%;
            border-radius: 7px 7px 7px 7px;
        }

        .styleFileInput{
            max-width: 300px;
        }

        
    }

    /* sm */
    @media screen and (min-width: 768px){

    }

    /* md */
    @media screen and (min-width: 992px){
        
    }

    /* lg */
    @media screen and (min-width: 1200px){
        
    }

    /* Fim media queries */
